body{
    background-color: rgb(247, 247, 247);
}

section{
    margin-bottom: 100px;   
}

.container{
    margin-bottom: 30px;
}

.nav-item a{
    color: dimgray;
    font-weight: 500;
}

.bg-gray{
    background-color: lightgray;
    border-radius: 10px;
    padding: 0 20px;
}

.product-banner{
    margin-bottom: 70px;
}

.carousel-indicators .active{
    background-image: linear-gradient(45deg, #F47C00, #FF8319);
    width: 35px;
    height: 10px;
}

.carousel-indicators li{
    background-image: linear-gradient(dimgray,dimgray);
    width: 13px;
    height: 10px;
}

.carousel-indicators{
    bottom: -49px;
}

.buy-now-button{
    background-image: linear-gradient(black,black);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
}

.smartphone-text button{
    color:  #FF8319;
    font-weight: 600;
    background-color: Transparent;
    border: none;
    outline-style: none;
}

.smartphone-text{
    margin-bottom: 25px;
}

.card{
    border-radius: 15px;
    border: none;
    box-shadow: 10px 10px 10px lightgrey;
}

.card-footer{
    border-top: none;
    background-color: transparent;
    padding-top: 0;
}

.card-body{
    padding-bottom: 5px;
    margin-bottom: 0;
}

.card-img-top{
    padding-top: 20px;
}

.cat-header-text{
    padding-bottom: 5px;
    border-bottom: 5px solid #F47C00;
}

.box{
    border-radius: 15px;
    border: none;
    box-shadow: 10px 10px 10px lightgrey;
}

.categories-border {
    border-bottom: 7px solid  #FFBB24;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 3px;
} 

.category-item {
    padding:  20px 20px;
}
