body{
    background-color: rgb(247, 247, 247);
}

.container{
    margin-bottom: 30px;
}

.nav-item a{
    color: dimgray;
    font-weight: 500;
}

/* .product-banner{
    background-image: url(/images/bg-2.png);
    background-repeat: no-repeat;
    background-position: bottom 0px left 0px;
}

.bg-2{
    background-image: url(/images/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
} */

.bg-gray{
    background-color: lightgray;
    border-radius: 10px;
    padding: 0 20px;
}

.product-banner{
    margin-bottom: 70px;
}

.carousel-indicators .active{
    background-image: linear-gradient(45deg, #F47C00, #FF8319);
    width: 35px;
    height: 10px;
}

.carousel-indicators li{
    background-image: linear-gradient(dimgray,dimgray);
    width: 13px;
    height: 10px;
}

.carousel-indicators{
    bottom: -49px;
}

.buy-now-button{
    background-image: linear-gradient(black,black);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
}

.smartphone-text button{
    color:  #FF8319;
    font-weight: 600;
    background-color: Transparent;
    border: none;
    outline-style: none;
}

.card{
    border-radius: 15px;
    border: none;
    box-shadow: 10px 10px 10px lightgrey;
}

.card-footer{
    border-top: none;
    background-color: transparent;
    padding-top: 0;
}

.card-body{
    padding-bottom: 5px;
    margin-bottom: 0;
}

.card-img-top{
    padding-top: 20px;
}

